<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>

    <title>Admin panel</title>
</head>
<body>
    <header>
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                        <div class="collapse navbar-collapse" id="user">
                            <ul class="navbar-nav mr-auto">
                                <a class="navbar-brand font-weight-bold ml-2 mr-1" id="headerUsername"></a>
                                <a class="navbar-brand mr-1">with roles:</a>
                                <a class="navbar-brand mr-1" id="headerRoles"></a>
                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-right" href="/logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <!--Sidebar START-->
            <div class="col-2 sidebar-sticky pt-4 px-0 bg-white d-flex flex-column">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#userPanel">User</a>
                    </li>
                </ul>
            </div>
            <!--Sidebar END-->

            <!--Users info table START-->
            <div class="col-10 bg-light pt-3 d-flex flex-column">
                <div class="tab-content vh-100">
                    <!--Admin panel START-->
                    <div class="tab-pane fade show active pt-3 px-4" id="adminPanel">
                        <h1>Admin panel</h1>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" id="allUsersTable" href="#allUsers">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#createUser">New User</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!--All users START-->
                            <div class="tab-pane fade show active" id="allUsers">
                                <div class="card">
                                    <h5 class="card-header">All users</h5>
                                    <div class="card-body text-center">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Age</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodyAllUserTable"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--All users END-->

                            <!--New user START-->
                            <div class="tab-pane fade" id="createUser">
                                <div class="form-group">
                                    <div class="control-group required">
                                        <div class="card">
                                            <h5 class="card-header">Add new user</h5>
                                            <div class="card-body text-center">
                                                <div class="form justify-content-center mx-auto col-3">
                                                    <form id="formCreateUser" name="formCreateUser">
                                                        <div class="form-group">
                                                            <label class="container-fluid font-weight-bold m-0" for="createUserFirstName">First name</label>
                                                            <input class="form-control" id="createUserFirstName" type="text" name="firstName" required autofocus>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="container-fluid font-weight-bold m-0" for="createUserLastName">Last name</label>
                                                            <input class="form-control" id="createUserLastName" type="text" name="lastName">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="container-fluid font-weight-bold m-0" for="createUserAge">Age</label>
                                                            <input class="form-control" id="createUserAge" type="number" name="age">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="container-fluid font-weight-bold m-0" for="createUserEmail">Email</label>
                                                            <input class="form-control" id="createUserEmail" type="email" name="email" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="container-fluid font-weight-bold m-0" for="createUserPassword">Password</label>
                                                            <input class="form-control" id="createUserPassword" type="password" name="password" required/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="container-fluid font-weight-bold m-0" for="createUserRoles">Role</label>
                                                            <select class="form-control" id="createUserRoles" name="roles" required multiple size="2">
                                                                <option value="ROLE_USER">USER</option>
                                                                <option value="ROLE_ADMIN">ADMIN</option>
                                                            </select>
                                                        </div>
                                                        <button type="submit" class="btn btn-success btn-lg mt-3">Add new user</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--New user END-->
                        </div>
                    </div>
                    <!--Admin panel END-->

                    <!--User panel START-->
                    <div class="tab-pane fade pt-3 px-4" id="userPanel">
                        <h1>User information-page</h1>
                        <div class="card">
                            <h5 class="card-header">About user</h5>
                            <div class="card-body text-center">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                        </tr>
                                    </thead>
                                    <tbody id="userInfo"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--User panel END-->
                </div>
            </div>
            <!--Users info table END-->
        </div>
    </div>

    <!--Edit user modal START-->
    <div class="modal fade" id="edit" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="formEditUser">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="form-group required">
                            <div class="controls col-md-6 mx-auto">
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="idEditUser">ID</label>
                                    <input class="form-control" type="number" name="id" id="idEditUser" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="firstNameEditUser">First name</label>
                                    <input class="form-control" type="text" name="firstName" id="firstNameEditUser">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="lastNameEditUser">Last name</label>
                                    <input class="form-control" type="text" name="lastName" id="lastNameEditUser">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="ageEditUser">Age</label>
                                    <input class="form-control" type="number" name="age" id="ageEditUser">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="emailEditUser">Email</label>
                                    <input class="form-control" type="email" name="email" id="emailEditUser">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="passwordEditUser">Password</label>
                                    <input class="form-control" type="password" name="password" id="passwordEditUser">
                                </div>
                                <div class="form-group mb-4">
                                    <label class="font-weight-bold m-0" for="rolesEditUser">Role</label>
                                    <select class="form-control" name="roles" id="rolesEditUser" required multiple size="2" >
                                        <option value="ROLE_USER">USER</option>
                                        <option value="ROLE_ADMIN">ADMIN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="editFormCloseButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Edit user modal END-->

    <!--Delete user modal START-->
    <div class="modal fade" id="delete" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="formDeleteUser">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="form-group required">
                            <div class="controls col-md-6 mx-auto">
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="idDeleteUser">ID</label>
                                    <input class="form-control" type="number" name="id" id="idDeleteUser" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="firstNameDeleteUser">First name</label>
                                    <input class="form-control" type="text" name="firstName" id="firstNameDeleteUser" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="lastNameDeleteUser">Last name</label>
                                    <input class="form-control" type="text" name="lastName" id="lastNameDeleteUser" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="ageDeleteUser">Age</label>
                                    <input class="form-control" type="number" name="age" id="ageDeleteUser" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold m-0" for="emailDeleteUser">Email</label>
                                    <input class="form-control" type="text" name="email" id="emailDeleteUser" disabled>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="font-weight-bold m-0" for="rolesDeleteUser">Role</label>
                                    <select class="form-control" name="roles" id="rolesDeleteUser" size="2" disabled>
                                        <option value="'ROLE_USER'">USER</option>
                                        <option value="'ROLE_ADMIN'">ADMIN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="deleteFormCloseButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger btn btn-primary">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Delete user modal END-->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/user.js"></script>
    <script type="text/javascript" src="/admin.js"></script>
</body>
</html>