<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <style>
        .center {
            width: 400px;
            margin: 0 auto;
        }
        .menu-main li {
            display: inline-block;
            margin-right: 10px;
        }
        .one-line {
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="center"><ul class="menu-main">
        <li><h3><a th:href="@{/}">На главную</a></h3></li>
        <li><h3><a th:href="@{/logout}">Выход</a></h3></li>
    </ul>

        <h1>Список пользователей</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${users.isEmpty()}">
                    <td colspan="4" align="center">Ни один пользователь не найден</td>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.getId()}">ID</td>
                    <td th:text="${user.getUserLogin()}">Login</td>
                    <td th:text="${user.getEmail()}">E-mail</td>
                    <td class="one-line" th:text="${#strings.listJoin(user.roles, ' ')}">Roles</td>
                    <td>
                        <form method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                            <input type="submit" value="Редактировать">
                        </form>
                    </td>
                    <td>
                        <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                            <input type="submit" value="Удалить"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <br/>

        <form method="GET" action="/admin/new">
            <input type="submit" value="Добавить пользователя"/>
        </form>
    </div>
</body>
</html>