<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание пользователя</title>
    <style>
        .center {
            width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="center">
        <h3><a href="/admin">В админку</a></h3>

        <form th:method="POST" th:action="@{/}" th:accept-charset="UTF-8" th:object="${user}">
            <table>
                <tbody>
                    <tr>
                        <td><label for="login">Login</label></td>
                        <td><input th:field="*{userLogin}" type="text" id="login"/></td>
                    </tr>
                    <tr>
                        <td><label for="email">E-mail</label></td>
                        <td><input th:field="*{email}" type="text" id="email"/></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input th:field="*{userPassword}" type="text" id="password"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Добавить"/></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>