<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание пользователя</title>
    <style>
        .center {
            width: 400px;
            margin: 0 auto;
        }
        .menu-main li {
            display: inline-block;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="center">
        <ul class="menu-main">
            <li><h3><a th:href="@{/admin}">Назад</a></h3></li>
            <li><h3><a th:href="@{/logout}">Выход</a></h3></li>
        </ul>

        <form th:method="POST" th:action="@{/admin/}" th:object="${user}">
            <table>
                <tbody>
                    <tr>
                        <td><label for="login">Login</label></td>
                        <td><input th:field="*{userLogin}" type="text" id="login"/></td>
                    </tr>
                    <tr>
                        <td><label for="email">E-mail</label></td>
                        <td><input th:field="*{email}" type="text" id="email"/></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input th:field="*{userPassword}" type="text" id="password"/></td>
                    </tr>
                    <tr>
                        <td><label for="roles">Roles</label></td>
                        <td>
                            <select th:field="*{roles}" id="roles" multiple required size="2">
                                <option th:each="role : ${T(ru.kata.spring.boot_security.demo.model.RolesEnum).values()}"
                                        th:value="${role}"
                                        th:text="${role}">
                                    Role
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Добавить"/></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>